:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --title-color: #2f303a;
  --team-color: #f5f4fa;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --type-footer-logo: 'Raleway';
  --font-family-ronoto: 'Roboto', sans-serif;
  --border-color: #ececec;
  --team-color-fon:rgba(47, 48, 58, 0.4);
}
.body {
  font-family: var(--font-family-ronoto);
  font-style: normal;
}
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}
/* HEADER */
.header {
  border-bottom: 1px solid var(--border-color);
}
.header-position {
  flex-grow: 3;

}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  list-style: none;
  display: flex;
  margin-left: 93px;
}
.header-nav li {
  margin-right: 50px;
}

.header-nav-link:hover,
.header-contacts-link:hover {
  color: var(--blue-color);
}

.header-logo-web {
  color: var(--blue-color);
}

.header-nav-link {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.42;
  color: var(--black-color);
  letter-spacing: 0.02em;
}

.header-logo {
  margin-top: 24px;
  margin-bottom: 25px;

  margin-right: 0px;
  text-decoration: none;
  font-family: var(--type-footer-logo);
  font-size: 26px;
  line-height: 1.191;
  color: var(--black-color);
}

.header-contacts {
  list-style: none;
  font-weight: 500;
  display: flex;
  margin: 0 0 0 auto;
}
.header-contacts-svg{
  content: "";
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
  
}
.header-contacts-img{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contacts-link {
  display: block;
  padding-right: 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.142;
  color: var(--gray-color);
  letter-spacing: 0.02em;
}

/* MAIN*/

.main-title {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--title-color);
  background-image:linear-gradient(to right,var(--team-color-fon) , var(--team-color-fon) ), url(../images/team-worling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.title-h {
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin-top: 0;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--white-color);
  letter-spacing: 0.06em;
}
.main-title-button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  border-radius: 4px;
  border: 0px;
  font-family: var(--button-font-family);
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--blue-color);
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-benefits-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.section-h {
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.we-do {
  padding-top: 0px;
}

.main-benefits-title {
  font-size: 14px;
  line-height: 1.142;
  color: var(--black-color);
  letter-spacing: 0.03em;
}
.main-benefits-title-paragraph {
  font-size: 14px;
  line-height: 1.714;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}
.main-what-we-do-images {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
.main-team {
  background-color: var(--team-color);
  padding-bottom: 94px;
  padding-top: 94px;
}
.main-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
.team-list-box {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}
.main-team-name {
  padding: 30px 0 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.main-team-position {
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.18em;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--title-color);
}
.footer-link {
  list-style: none;
  padding-bottom: 20px;
  text-decoration: none;
  font-family: var(--type-footer-logo);
  font-size: 26px;
  line-height: 1.191;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-web {
  color: var(--blue-color);
}

.footer-list {
  list-style: none;
  padding-bottom: 9px;
}
.footer-list:last-child {
  padding-bottom: 0;
}
.footer-address {
  padding-top: 20px;
}

.footer-list-adres {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  letter-spacing: 0.03em;
}
.footer-list-contacts {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-mail-tel-color);
  letter-spacing: 0.03em;
}

.footer-list-adres:hover,
.footer-list-contacts:hover {
  color: var(--blue-color);
}

/* PORTFOLIO */
.main-button-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio-button-list {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--button-font-family);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  font-weight: 500;
}

.portfolio-button-list:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.main-portfolio-list {
  padding-top: 34px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.main-portfolio-titel {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.main-portfolio-paragraph {
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.875;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}
.box-text {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding-bottom: 24px;
}
